body {
    background-color: #e0e7e1;
}

.box  {
    width: 200px;
    position: fixed;
    right: 0px;
    margin-top: 130px;
    z-index: 5;
    padding: 10px 20px;
    border-radius: 7px 0px 0px 7px;

}

.hiddenDiv {
    display:none;
}

.weather {
    border-right:8px solid rgba(202, 218, 218,0.7);
    border-left:1px solid black;
    border-radius: 7px 0px 0px 7px;
    width: fit-content;
    margin-top: 70px;
    position: fixed;
    right: 0px;
    height: 60px;
    z-index: 5;
    background-color: white;
}

.weather:hover{
   border-left: 2px solid #9ec4a3;
   border-top: 2px solid #9ec4a3;
   border-bottom: 2px solid #9ec4a3;

    
    
}
.weather img {
    width: 50px;
    height: 50px;
}